{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "standard",
  "rules": {
    "brace-style": 0,
    "generator-star-spacing": 0,
    "comma-style": [ "error", "last" ],
    "comma-dangle": [ "error", "always-multiline" ],
    "array-bracket-spacing": [ "error", "always" ],
    "semi-spacing": [ "error", { "before": false, "after": true } ],
    "no-empty": [ "error", { "allowEmptyCatch": true } ],
    "quote-props": [ "error", "consistent-as-needed" ],
    "eol-last": [ "error", "always" ],
    "no-useless-concat": [ "error" ],
    "no-console": [ "error" ],
    "no-var": [ "error" ],
    "padded-blocks": [ "error", { "classes": "always" } ],
    "prefer-template": [ "error" ],
    "prefer-arrow-callback": [ "error" ],
    "arrow-parens": [ "error", "as-needed" ],
    "space-before-function-paren": [ "error", { "anonymous": "always", "named": "never", "asyncArrow": "ignore" } ],
    "object-curly-spacing": [ "error", "always" ]
  }
}